<%- include("./partials/header.ejs") %>
<div class="bodyHome">
    <div class="welcome">Welcome to Selim's Clucks</div>
    <div class="welcomeMessage">
        <p>This Application is Clucks, this is created for CodeCore Quis. If you want to get more information you should
            visit <a href="https://codecore.moodle.school/mod/quiz/view.php?id=953" target="_blank">the page of Quiz</a>
        </p>
    </div>
</div>

<%- include("./partials/footer.ejs") %>