<%- include("./partials/header.ejs") %>
<div class="signInBody">
    <form action="/" method="POST">
        <div>
            <label for="userName">User Name</label><br />
            <input type="text" name="userName" placeholder="e.g. Madam Welminster" />
        </div>
        <div class="divNewsButton">
            <input type="Sign In" class="signInButton" value="Submit">
        </div>
    </form>
</div>

<%- include("./partials/footer.ejs") %>